<div ng-app="myApp" ng-controller="homeController" class="container">
    <form class="searchbar">
        <div class="searchbar-input" >
            <input type="search" placeholder="" >
            <a href="#" class="searchbar-clear"></a>
        </div>
        <div style="color: white;" >
            Clique em enviar para transferir ou copiar as cotações
        </div>
        <a href="#" class="searchbar-cancel">Cancel</a>
    </form>




    <i class="f7-icons size-25" style="color:green;font-size:50px;position:fixed;bottom:15px;right:15px;">add_round_fill</i>

</div>