<div ng-app="myApp" ng-controller="homeController" class="container">
    <div class="navbar-light">
            <div class="dialog-title">Anotações</div>
            <form class="searchbar">
                <div class="searchbar-inner">
                    <div class="searchbar-input-wrap">
                        <input type="search" placeholder="Pesquisar">
                        <i class="searchbar-icon"></i>
                        <span class="input-clear-button"></span>
                    </div>
                    <span class="searchbar-disable-button">Cancel</span>
                </div>
            </form>

       
    </div>



    <i class="f7-icons size-25" style="color:green;font-size:50px;position:fixed;bottom:15px;right:15px;" ng-click="criarAnotacao()">add_round_fill</i>
</div>